&spi1 {
    status = "okay";
    cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>; /* P0.03 = SPI CS */

    dw3000: dw3000@0 {
        compatible = "decawave,dw3000";
        reg = <0>;
        spi-max-frequency = <4000000>;
        irq-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>; /* P0.11 = IRQ */
        reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>; /* P0.12 = RESET */
        label = "DW3000";
        status = "okay";
    };
};

&{/aliases} {
    dw3000 = &dw3000;
};
